@model Topscholars.Models.TimetableModel

@{
    ViewBag.Title = "Edit Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Entry</h2>

@using (Html.BeginForm("AddEntry", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 card">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group row">
                    @Html.LabelFor(model => model.CourseID, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CourseID", (IEnumerable<SelectListItem>)ViewBag.Courses, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.FacultyID, "Faculty", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("FacultyID", (IEnumerable<SelectListItem>)ViewBag.Faculty, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Day", (IEnumerable<SelectListItem>)ViewBag.days, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (Model != null)
                        {
                            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @type = "time" , @value = Model.StartTime.ToString("hh\\:mm")} })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                        }
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
}

<p class="ActionButton">
    @Html.ActionLink("Back to List", "Timetable", null, new { @class = "btn btn-secondary" })
</p>
