@model IEnumerable<Topscholars.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feedback</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeedbackText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeedbackText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeedbackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeedbackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeedbackId })
        </td>
    </tr>
}

</table>
