
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>
        <a href="@Url.Action("ManageFaculty", "Admin")">Manage Faculty</a>
    </li>
    <li>
        <a href="@Url.Action("ManageStudent", "Admin")">Manage Student</a>
    </li>
    <li>
        <a href="@Url.Action("Feedback", "Admin")">Feedback</a>
    </li>
    <li>
        <a href="@Url.Action("Timetable", "Admin")">TimeTable</a>
    </li>
    <li>
        <a href="@Url.Action("ManageCourses", "Admin")">Manage Faculty</a>
    </li>
</ul>

