@model Topscholars.Models.Faculty

@{
    ViewBag.Title = "ViewFaculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewFaculty</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
