
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>
        <a href="@Url.Action("ViewAssignments", "Faculty")">View Assignment</a>
    </li>
    <li>
        <a href="@Url.Action("CreateAssignment", "Faculty")">Create Assignment</a>
    </li>
    <li>
        <a href="@Url.Action("ViewTimetable", "Faculty")">TimeTable</a>
    </li>
    <li>
        <a href="@Url.Action("ProvideFeedback", "Faculty")">Feedback</a>
    </li>
    <li>
        <a href="@Url.Action("ManageCourses", "Admin")">Manage Faculty</a>
    </li>
</ul>